<div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Price -->
        <div class="d-flex justify-content-end">
          <strong>@Price</strong>
          <img class="img-fluid" width="16" height="16" src="svg/usdt.svg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Volume-->
        <div class="d-flex justify-content-end">
          <span class="text-secondary">@Volume</span>
          <img class="img-fluid" width="16" height="16" src="svg/volume.svg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- DayVolume -->
        <div class="d-flex justify-content-end">
          <span class="text-secondary">@DayVolume</span>
          <img class="img-fluid" width="16" height="16" src="svg/day_volume.svg" />
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="row">
      <div class="d-grid mx-auto">
        <a href="@TradeUrl" class="btn btn-ex @BtnClass m-1">@Name</a>
        <a href="@FundsUrl" class="btn btn-ex @BtnClass m-1">@FundsName</a>
      </div>
    </div>
  </div>

@code {


    [Parameter]
    public string Price { get; set; } = string.Empty;

    [Parameter]
    public string Volume { get; set; } = string.Empty;

    [Parameter]
    public string DayVolume { get; set; } = string.Empty;

    [Parameter]
    public string TradeUrl { get; set; } = string.Empty;

    [Parameter]
    public string FundsUrl { get; set; } = string.Empty;

    [Parameter]
    public string FundsName { get; set; } = string.Empty;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string BtnClass { get; set; } = string.Empty;
}
