@page "/tokens"
@using System.Globalization
@using ArbiBlazor.Shared.Arbi
@inject ArbiBlazor.Services.IArbiService arbiService
@inject ArbiBlazor.Services.IExchangeService exchangeService
@inject ArbiBlazor.Services.IArbiContainer arbiContainer
@inject ArbiBlazor.Services.IFilterContainer filterContainer
@inject ArbiBlazor.Services.IDisplaySerivce dS
@inject NavigationManager navManager

<PageTitle>Tokens</PageTitle>

<div class="container-fluid arbi-container">

  <button type="button" class="btn btn-secondary p-2 m-2"
    @onclick="RefreshAll">Refresh</button>
  <div class="row">
    <div class="col col-auto">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="table-h">Profit</th>
            <th scope="col" class="table-h">Buy From</th>
            <th scope="col" class="table-h">Buy Net</th>
            <th scope="col" class="table-h">Sell Net</th>
            <th scope="col" class="table-h">Sell At</th>
          </tr>
        </thead>
        <tbody>
          @if (arbiContainer.Items is null)
          {
          <tr>
            <td></td>
            <td>
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </td>
            <td></td>
          </tr>

          }

          else if (arbiContainer.Items is not null && arbiContainer.Items.Count
          == 0)
          {
          <div>
            <h5>No tokens :C</h5>
          </div>
          }
          else if (arbiContainer.Items is not null)
          {

          @foreach (var arbi in arbiContainer.Items)
          {
          <tr @onclick="() => OnArbiClicked(arbi)">
            <td>
              <ArbiTitle
                Diff="@dS.Percent(arbi.PriceDifferencePercentage)"
                Sym="@arbi.DisplayName" />
            </td>
            <td>
              <ArbiItem
                BtnClass="btn-outline-primary"
                Name="@arbi.BuyName"
                TradeUrl="@dS.Trade(arbi.BuyUrl, arbi.DisplayName)"
                FundsUrl="@dS.Depo(arbi.WithdrawUrl, arbi.DisplayName)"
                FundsName="Withrdaw"
                Price="@dS.Price(arbi.Ask)"
                Volume="@dS.Volume(arbi.AskVolumeUSDT)"
                DayVolume="@dS.Volume(arbi.AskDayVolumeUSDT)" />
            </td>
            <td>
                <div class="container">
                    @if(arbi.AskNetworks is not null) 
                    {
                        @foreach(var net in arbi.AskNetworks) 
                        {
                            <div>
                                <strong>@net.Code</strong>
                                <p class="network-p text-muted">@dS.Fee(net.Fee * arbi.Ask)$</p>
                            </div>
                        }
                    }
                </div>
            </td>
            <td>
                <div class="container">
                    @if(arbi.AskNetworks is not null) 
                    {
                        @foreach(var net in arbi.BidNetworks)
                        {
                            <div>
                                <strong>@net.Code</strong>
                            </div>
                        }
                    }
                </div>
            </td>
            <td>
                <ArbiItem
                BtnClass="btn-outline-danger"
                Name="@arbi.SellName"
                TradeUrl="@dS.Trade(arbi.SellUrl, arbi.DisplayName)"
                FundsUrl="@dS.Depo(arbi.DepositUrl, arbi.DisplayName)"
                FundsName="Deposit"
                Price="@dS.Price(arbi.Bid)"
                Volume="@dS.Volume(arbi.BidVolumeUSDT)"
                DayVolume="@dS.Volume(arbi.BidDayVolumeUSDT)" />
            </td>
          </tr>
          }
          }
        </tbody>
      </table>
    </div>

  </div>
</div>
