@page "/tokens"
@using System.Globalization
@inject ArbiBlazor.Services.IArbiService arbiService
@inject ArbiBlazor.Services.IArbiContainer arbiContainer
@inject ArbiBlazor.Services.IDisplaySerivce dS
<pagetitle>Tokens</pagetitle>

<div class="container-fluid arbi-container">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="table-h">Diff</th>
            <th scope="col" class="table-h">Buy From</th>
            <th scope="col" class="table-h">Sell At</th>
          </tr>
        </thead>
        <tbody>
          @if (arbiContainer.Items is null)
          {
          <div>
            <h5>Loading...</h5>
          </div>
          }
          else if (arbiContainer.Items.Count == 0)
          {
          <div>
            <h5>No tokens :C</h5>
          </div>
          }
          else
          {

          @foreach (var arbi in arbiContainer.Items)
          {
          <tr>
            <td>
              <div class="container">
                <div class="row table-header-row ">
                  <p class="table-p">
                    <strong
                      class="percent-text">@dS.Percent(arbi.PriceDifferencePercentage)
                    </strong>
                  </p>
                </div>
                <div class="row">
                  <p class="text-secondary table-p">
                    <strong>@arbi.DisplayName</strong>
                    <small class="text-muted font-weight-light">/USDT</small>
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div class="container">

                <div class="row">
                  <div class="col volume-col">
                    <strong>
                      <p class="table-p text-dark">
                        @dS.Price(arbi.Ask)
                      </p>
                    </strong>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/usdt.svg" />
                  </div>
                </div>
                <div class="row">
                  <div class="col volume-col">
                    <p class="table-p">
                      <small class="text-secondary">
                        @dS.Volume(arbi.AskVolumeUSDT)
                      </small>
                    </p>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/volume.svg" />
                  </div>
                </div>
                <div class="row">
                  <div class="col volume-col">
                    <p class="table-p">
                      <small class="text-secondary">
                        @dS.Volume(arbi.AskDayVolumeUSDT)
                      </small>
                    </p>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/day_volume.svg" />
                  </div>
                </div>
              </div>
                                      <div class="row table-header-row">
                                  <a href="@arbi.BuyUrl" target="_blank" class="a-ex">
                            <button class="btn btn-outline-primary btn-ex">
                              <p class="table-p">
                                <strong>
                                                        @arbi.BuyName
                                </strong>
                              </p>
                            </button>
                          </a>
                        </div>
            </td>
            <td>
              <div class="container">
                
                <div class="row">
                  <div class="col volume-col">
                    <strong>
                      <p class="table-p text-dark">
                        @dS.Price(arbi.Bid)
                      </p>
                    </strong>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/usdt.svg" />
                  </div>
                </div>
                <div class="row">
                  <div class="col volume-col">
                    <p class="table-p">
                      <small class="text-secondary">
                        @dS.Volume(arbi.BidVolumeUSDT)
                      </small>
                    </p>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/volume.svg" />
                  </div>
                </div>
                <div class="row">
                  <div class="col volume-col">
                    <p class="table-p">
                      <small class="text-secondary">
                        @dS.Volume(arbi.BidDayVolumeUSDT)
                      </small>
                    </p>
                  </div>
                  <div class="col volume-img">
                    <img class="img-fluid" width="16" height="16"
                      src="svg/day_volume.svg" />
                  </div>
                </div>
                        <div class="row table-header-row">
                                                    <a href="@arbi.SellUrl" target="_blank" class="a-ex">
                                            <button class="btn btn-outline-danger btn-ex">
                                      <p class="table-p">
                                        <strong>
                                                            @arbi.SellName
                                        </strong>
                                      </p>
                                    </button>
                                  </a>
                        </div>
              </div>
            </td>
          </tr>
          }
          }
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="table-filters">
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
        <p>Paragraph 3</p>
      </div>
    </div>
  </div>
</div>
